
$btn-width: 30em !default;
$btn-height: 3em !default;
$btn-full: $btn-height + $btn-width !default;
$btn-half: $btn-full/2 !default;
$blue-gradient:  linear-gradient(-135deg, #2D76D1 0%, #3994CE 52%, #2EA4A8 100%);
$dark-overlay: rgba(0,0,0,0.44);

// Mixins

@mixin size ($width, $height: $width) {
	width: $width;
	height: $height;
}

.button {
  position: relative;
  display: block;
  overflow: hidden;
  max-width: $btn-width;
  border-radius: 50px;
  padding: 1em 2em;
  margin: 2em 0;
  border: 1px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  
  @include size(100%, $btn-height);
  
  &__text {
    z-index: 2;
    position: relative;
    display: block;
    transition: transform 1s;
    text-decoration: none;
  }

  &:focus {
    outline:0;
  }
}

.button--blue {
  color: #fff;
  background-image: $blue-gradient;
}

.button--swipe {
    
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $dark-overlay;
    box-sizing: border-box;
    border-radius: 50px;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: .2s transform ease-out;
    will-change: transform;
    
  }
  &:hover {
    .button__text {
      transform: scale(1.09);
    }
    
    &:before,
    &:after {
      transform: translate(0);
    }
  }
}