.mode-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mode-center {
    border: solid 1px black;
    border-radius: 10px;
    padding: 10vh 20vh;
}

.mine-sweeper {
    font-size: 30px;
}
